html, body {
    height: 100%;
    max-width: 2000px;
    min-width: 300px;
  }
  #encode {
    height: 4rem;
  }
  #decode {
    height: 4rem;
  }

  @media (max-width: 991.98px) {
    #sidebar {
      padding-top: 2rem;
    }
  }
  @media (max-width: 1050px) {
    #sidebar {
      padding-top: 2rem;
    }
  }